<div class = "jumbotron">
  <div class = "container">
    <h1>Freedom Lovers!</h1>
    <p class = "lead">Show your love for freedom here</p>
  </div>
</div>

<div class = "container">

  <div class = "row">

    <div class = "col-md-4">
      <h3>View Posts</h3>
    </div>

    <div class = "col-md-4">
      <h3>Make a Post</h3>
    </div>

    <div class = "col-md-4">
      <a href = "<%=signup_path%>"><h3>Sign up!</h3></a>
    </div>

  </div>

</div>